.DS_Store
train_csv/
epochs/
.venv/
__pycache__/
*.pth
fno_mag_weights.pth
*.tmp
*_pred.csv
stats_output.txt
check_stats.py
fno_mag_weights.pth
dataset_cache.pkl.*
training_logs/
logs/
*.8229ea4dc89746480afc4943e179f730
config.local.toml
*.onnx
